h1{
	font-family: 'Nothing You Could Do', cursive;
	font-size: 20pt;
	border-bottom: 2px solid #99e;
	margin: 20px 15px 8px 15px;
	padding: 0 0 3px 5px;
	width: 1170px;
}
h1 strong {
	font-size: 24pt;
}

body
{
	font-size: 1em;
}

div.row {
	width: 98%;
}
.gui-component {
	border: 1px solid #ccc;
}

#views {
	width: 1400px;
	height: 766px;
	margin: 4px 0 15px 15px;
	position: relative;
}
#button-panel {
	border: 0;
	width: 190px;
	height: 100%;
	margin-right: 10px;
	position: relative;
	border: 1px solid #bbb;
	padding: 0;
}
#history-panel{
	width: 210px;
	height: 100%;
	margin-right: 10px;
	padding: 0;
	border: 1px solid #bbb;
}
#canvas {
	width: 750px;
	height: 600px;
	border: 5px solid #ccc;
}
#snapshot{
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 750px;
	height: 160px;
	margin-top: 5px;
	border: 1px solid #bbb;
}

#button-panel-title {
}
#history-panel-title {
}
.panel-title {
	background-color: #559;
	height: 22px;
	color: #fff;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 5px 0 15px;
}

#button {
	border: 0;
	width: 100%;
}
.button-group .btn{
	font-size: inherit;
	display: block;
    white-space: normal;
}
.ui-accordion-header {
	background-color: #44c;
}
.ui-accordion-content {
	padding: 0;
	max-height: 560px;
}
.btn {
	margin-bottom: 2px;
	background-color: #f9f9f9;
	text-align: left;
}

#control{
	width: 100%;
	height: 50px;
	text-align: center;
	padding-top: 10px;
}
#control .btn {
	width: 36px;
	padding: 6px 5px 8px 9px;
}

#history-panel hr{
	margin: 0 0 0 0;
}

.delete-x{
	position: absolute;
	top: 0;
	right: 0;
}

.glo-col{
	height: 90%;
}

#history {
	height: 90%;
	overflow-y: scroll;
	width: 208px;
}

#history > div{
	position: relative;
	font-size: 14px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	list-style-type: none;
	text-align: center;
	padding: 8px 11px;
	margin: 0;
	cursor: pointer;
	background-color: #f9f9f9;
	/*height: 50px;*/
}

#history > .selected{
	background-color: #eee;
	font-weight: bold;
	border-color: #77a;
}

#history > .disabled{
	background-color: #AAAAAA;
	color: #CCCCCC;
}

#canvas > svg{
	height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.snapshot{
	border: 1px solid #ddd;
	margin: 3px;
}
.snapshot:hover{
	border: 1px solid #559;
}

.active{
	stroke: wheat;
}