h1{
	font-family: 'Nothing You Could Do', cursive;
	font-size: 20pt;
	border-bottom: 2px solid #9af;
	margin: 20px 0 10px 15px;
	padding: 0 0 3px 5px;
	width: 1500px;
}
h1 strong {
	font-size: 24pt;
}

body
{
	font-size: 1em;
}

.gui-component {
	border: 1px solid #ccc;
}

.button-group {
	padding: 0 0 0 0;
}

.button-group .btn{
	font-size: inherit;
	display: block;
    white-space: normal;
}

.delete-x{
	position: relative;
	top: -1em;
	float: right;
}

.glo-col{
	height: 90%;
}

#control{
	width: 100%;
}

#snapshot{
	height: 20%;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
}

.snapshot{
	border: 1px solid black;
}

#canvas{
	height: 80%;
}

#canvas > svg{
	height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


#history-panel{
	padding: 0;
}
	
#control{
	height: 60px;
	text-align: center;
	padding-top: 15px;
}

#history {
	
	overflow:scroll;	
}

#history > div{
	font-size: 14px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	list-style-type: none;
	text-align: center;
	padding: 15px 0 15px 0;
	cursor: pointer;
}

#history > .selected{
	background-color: #EEEEEE;
}

#history > .disabled{
	background-color: #AAAAAA;
	color: #CCCCCC;
}

#views {
	width: 1500px;
	height: 800px;
	margin: 4px 0 0 15px;
}
#button-panel {
	border: 0;
	width: 220px;
	margin-right: 4px;
	position: relative;
}
#button {
	border: 0;
	width: 220px;
	
	
}
#history-panel{
	width: 230px;
	margin-right: 12px;
}
#canvas {
	width: 760px;
	height: 610px;
	border: 10px solid #ccc;
}

#button-panel-title {
	background-color: #559;
	height: 22px;
	color: #fff;
	text-align: center;
	padding-top: 4px;
}
#history-panel-title {
	background-color: #559;
	height: 22px;
	color: #fff;
	text-align: center;
	padding-top: 4px;
}
.ui-accordion-header {
	background-color: #44c;
}
.ui-accordion-content {
	padding: 0;
}
.btn {
	margin-bottom: 2px;
	background-color: #f9f9f9;
	text-align: left;
}