/* Force Directed */
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .45;
}


/* Axes */
#canvas {
  font: 10px sans-serif;
  margin: 0;
}

.axis {
  shape-rendering: crispEdges;
}


.axis line, .axis path {
  fill: none;
  stroke: #000;
}


/*Curved Edges*/
path.link {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
}